.dark-mode-checkbox:checked~.theme-container {
    /* Override the default theme */
    --c-text: var(--c-light-text);
    --c-background: var(--c-light-background);
    --c-interactive: var(--c-light-interactive);
    $bg: #05012a;
    transition: var(--trans);
    background: $bg;

    .container {
        position: relative;
        box-shadow: 41px 41px 82px #000000,
            -41px -41px 82px #01014e;

        h1,
        h2,
        li,
        li>span {

            background: var(--bgdark);
            isolation: isolate;
            
            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

        }
    }

}
